@blue-beco: #005CAD;

body {
  .container {
    width: 65%;
  }
  .main-logo {
    position: relative;
    width: 200px;
    height: 90px;
    margin-top: 1em;
    background-image: url('../img/BecoLogo.png');
    background-size: cover;
  }
  #myCarousel {
    height: 35em;
    p {
      color: black;
    }
    .carousel-caption {
      top: 15px;
      bottom: 0px;
      text-align: left;
      color: @blue-beco;
      padding-top: 0px;
      text-shadow: none;
      h1 {
        margin-top: 0px;
      }
      h2 {
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      p {
        color: @blue-beco;
      }
    }
    .carousel-indicators li {
      width: 3em;
      height: 3em;
      background-color: white;
      border-radius: 100%;
      text-indent: 0;
      line-height: 17px;
      border: 2px solid;
    }
    span.text-indicator {
      font-size: 11px;
      display: block;
      padding-top: 4px;
    }
    span.age-indicator {
      font-weight: 900;
      font-size: 18px;
    }
  }
  .container.head {
    font-size: 12px;
    width: 85%;
    .masthead {
      nav {
        .nav-justified {
          max-height: 200px;
          li {
            margin: 3px;
            a {
              padding-top: 17px;
              padding-bottom: 8px;
              margin-bottom: 0;
              font-weight: bold;
              color: white;
              text-align: center;
              background-color: #00458A;
              border: 1px solid white;
              border-bottom-left-radius: 30px;
              border-bottom-right-radius: 30px;
            }
            a:hover {
              background-color: #00458A;
            }
          }
          /*li:first-child {
            a {
              font-size: 11px;
              border-bottom-left-radius: 500px;
              color: transparent;
              padding: 11px 0 0 0;
              cursor: default;
            }
          }
          li:last-child {
            a {
              font-size: 11px;
              border-bottom-right-radius: 500px;
              color: transparent;
              padding: 11px 0 0 0;
              cursor: default;
            }
          }*/
          .active a, a:hover, a:focus{
            background-image: none;
            -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          }
        }
        ul > li {
          .border-green {
            border-bottom: 4px solid green;
          }
          .border-yellow {
            border-bottom: 4px solid yellow;
          }
          .border-red {
            border-bottom: 4px solid red;
          }
          .border-skyblue {
            border-bottom: 4px solid skyblue;
          }
        }
      }
    }
  }
  .skyblue-text {
    color: skyblue;
  }
  .green-text {
    color: green;
  }
  .red-text {
    color: red;
  }
  .yellow-text {
    color: #FBD400;
  }
  li.green-border {
    border-color: green;
  }
  li.skyblue-border {
    border-color: skyblue;
  }
  li.red-border {
    border-color: red;
  }
  li.yellow-border {
    border-color: #FBD400;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
  }
}

@media (min-width: 768px) {
  body {
    .container.head {
      width: 55%;
    }
  }
  #myCarousel {
    height: 35em;
    .carousel-indicators li {
      width: 6em !important;
      height: 6em !important;
      background-color: white;
      border-radius: 100%;
      text-indent: 0;
      line-height: 17px;
      border: 10px solid !important;
    }
    span.text-indicator {
      font-size: inherit !important;
      display: block;
      padding-top: 4px;
    }
    span.age-indicator {
      font-weight: 900;
      font-size: 18px;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

// Loader

.spinner7 {
  .circ1 {
    background-color: lightblue;
  }
  .circ2 {
    background-color: yellow;
  }
  .circ3 {
    background-color: red;
  }
  .circ4 {
    background-color: green;
  }
}

.logo {
  position: fixed;
  min-width: 280px;
  max-width: 380px;
}

.bubble {
  width: 100px;
  height: 100px;
  background: #ffb200;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: absolute;
}

.x1 {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.2;
  background: skyblue;
  -webkit-animation: moveclouds 15s linear infinite, sideWaysL 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWaysL 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 15s linear infinite, sideWaysL 4s ease-in-out infinite alternate;
}

.x1:hover {
  opacity: 0.8;
}

.x2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  background: yellow;
  -webkit-animation: moveclouds 25s linear infinite, sideWaysL 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWaysL 5s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite, sideWaysL 5s ease-in-out infinite alternate;
}

.x2:hover {
  opacity: 0.8;
}

.x3 {
  left: 350px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  background: red;
  -webkit-animation: moveclouds 20s linear infinite, sideWaysL 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWaysL 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWaysL 4s ease-in-out infinite alternate;
}

.x3:hover {
  opacity: 0.8;
}

.x4 {
  left: 470px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.35;
  background: green;
  -webkit-animation: moveclouds 18s linear infinite, sideWaysL 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWaysL 2s ease-in-out infinite alternate;
  -o-animation: moveclouds 18s linear infinite, sideWaysL 2s ease-in-out infinite alternate;
}

.x4:hover {
  opacity: 0.8;
}

.x5 {
  left: 150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  background: skyblue;
  -webkit-animation: moveclouds 7s linear infinite, sideWaysL 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite, sideWaysL 1s ease-in-out infinite alternate;
  -o-animation: moveclouds 7s linear infinite, sideWaysL 1s ease-in-out infinite alternate;
}

.x5:hover {
  opacity: 0.8;
}

.x6 {
  right: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.2;
  background: yellow;
  -webkit-animation: moveclouds 15s linear infinite, sideWaysR 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWaysR 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 15s linear infinite, sideWaysR 4s ease-in-out infinite alternate;
}

.x6:hover {
  opacity: 0.8;
}

.x7 {
  right: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  background: red;
  -webkit-animation: moveclouds 25s linear infinite, sideWaysR 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWaysR 5s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite, sideWaysR 5s ease-in-out infinite alternate;
}

.x7:hover {
  opacity: 0.8;
}

.x8 {
  right: 350px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  background: green;
  -webkit-animation: moveclouds 20s linear infinite, sideWaysR 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWaysR 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWaysR 4s ease-in-out infinite alternate;
}

.x8:hover {
  opacity: 0.8;
}

.x9 {
  right: 470px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.35;
  background: skyblue;
  -webkit-animation: moveclouds 18s linear infinite, sideWaysR 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWaysR 2s ease-in-out infinite alternate;
  -o-animation: moveclouds 18s linear infinite, sideWaysR 2s ease-in-out infinite alternate;
}

.x9:hover {
  opacity: 0.8;
}

.x10 {
  right: 150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  background: yellow;
  -webkit-animation: moveclouds 7s linear infinite, sideWaysR 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite, sideWaysR 1s ease-in-out infinite alternate;
  -o-animation: moveclouds 7s linear infinite, sideWaysR 1s ease-in-out infinite alternate;
}

.x10:hover {
  opacity: 0.8;
}