body {
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.spinner7 {
  .circ1{
    background-color: lightblue;
  }
  .circ2{
    background-color: yellow;
  }
  .circ3{
    background-color: red;
  }
  .circ4{
    background-color: green;
  }
}